.chat-container {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* 左右中央に配置 */
    padding: 16px;
    flex-grow: 1;
  }
  
  .bottom-gap {
    height: 120px;
    width: 100%;
  }

  .sendmessage-container{
    position: fixed;
    height: auto;
    bottom: 0;
    padding-bottom: 30px;
    width: inherit;
    height: 150px;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    z-index: 1;
  }

